:root{ 
    --gray: #F5F5F5;
    --green: #1DB779;
    --black: #1E1E1E;
}
  
.margin-header{
    /*margin-right: -15px; 
    margin-left: -15px; */
    margin-right: 0;
    margin-left: 0;
}

/* Logo */

.logo-styles{
    background-color: var(--gray);
}

/* TopNav */

.margin-topnav{
    text-align: right;
}

.options-styles{
    padding: 0 16px 0 16px;
    color: var(--green) !important;
}

/* Search */

.search-styles{
    padding-right: 0;
    padding-left: 0;
}

.search-styles input{
    font-size: 20px;
    padding-left: 40px !important;

    height: 56px;

    border: none;
    border-top: solid 1px gray;
    border-radius: inherit;
    color: var(--black);
}

.form-control-feedback {
    position: absolute;
    padding: 17px 10px 17px 10px;
    pointer-events: none;
    font-size: 22px;
  }
  
/*.form-control {
    padding-left: 30px !important;
}*/

/* Button (Mi Carrito) */

.button-styles{
    height: 56px;
    background-color: var(--black);
}

.button-styles h5{
    padding: 14px;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}

.icon-size{
    font-size: 22px;
}
