:root{ 
    --gray-light: #F5F5F5;
    --gray: #D1D3D4;
    --green: #1DB779;
    --black: #1E1E1E;
    --white: #FFFFFF;
}

/* --- Header --- */
  
.margin-properties-header{
    margin-right: 0;
    margin-left: 0;
}

/* Logo */

.logo-styles{
    background-color: var(--gray-light);
}

/* TopNav */

.margin-topnav{
    text-align: right;
}

.options-styles{
    padding: 0 16px 0 16px;
    color: var(--green) !important;
}

/* Search */

.search-styles{
    padding-right: 0;
    padding-left: 0;
}

.search-styles input{
    font-size: 20px;
    padding-left: 40px !important;

    height: 56px;

    border: none;
    border-top: solid 1px var(--gray);
    border-radius: inherit;
    color: var(--black);
}

.form-control-feedback {
    position: absolute;
    padding: 17px 10px 17px 10px;
    pointer-events: none;
    font-size: 22px;
}

/* Button (Mi Carrito) */

.button-styles{
    height: 56px;
    background-color: var(--black);
}

.button-styles h5{
    padding: 14px;
    color: var(--white);
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.icon-size{
    font-size: 22px;
}

/* Categories */

.categories-section{
    background-color: var(--green);
}

.categories-styles{
    padding: 16px;
}

.text-categories-styles{
    color: var(--white) !important;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: bold;
}

/* --- Body --- */

.margin-properties-body{
    margin-right: 20px;
    margin-left: 20px;
}

/* Title */

.body-line-styles{
    margin-top: 1.5rem;
    background-color: #9B9B9B;
}

.body-title-styles{
    font-size: 36px;
    font-weight: bold;
}

/* Filters */

.title-filter-styles{
    font-size: 18px;
    font-weight: 300;
}

.list-group-item{
    background-color: transparent;
    border: none;
    padding: 0;
}

.margin-filter{
    padding: 0;
}

.margin-filter ul{
    padding-left: 20px;
}

.list-group-item:hover label{
    color: var(--green); 
}

/* Products */

.products-card-styles{
    border: none;
}

.title-card-styles{
    font-size: 16px;
    color: var(--black);
}

.card-price-before{
    font-size: 13px;
    color: #9B9B9B;
    text-decoration: line-through;
}

.card-price-now{
    font-size: 18px;
    color: var(--green);
    font-weight: bold;
}
  
.col-3.my-3.card.products-card-styles:hover img{
    opacity: 0.6;
}

.col-3.my-3.card.products-card-styles:hover div h5{
    color: var(--green); 
}

/* --- Footer -- */

.grid-footer-styles{
    background-color: var(--black);
    padding: 3.5rem;
}

.margin-properties-footer{
    margin-right: 0;
    margin-left: 0; 
}

.grid-footer-list{
    padding-left: 40px;
    padding-right: 40px;

    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.title-footer-list-styles{
    color: var(--white);
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;

    letter-spacing: 1px;
    line-height: 27px;
}

.links-footer-styles{
    color: var(--white);
    font-size: 12px;
    line-height: 27px;
}

.links-footer-styles:hover{
    color: var(--white);
}

/* Icons */

.facebook-icon-styles{
    height: 22.32px;
    width: 10.54px;
    color: var(--gray-light);

    padding-left: 15px;
    padding-right: 15px;
}

.twitter-icon-styles{
    height: 17.78px;
    width: 22.36px;
    color: var(--gray-light);

    padding-left: 15px;
    padding-right: 15px;
}

.youtube-icon-styles{
    height: 15.8px;
    width: 22.33px;
    color: var(--gray-light);

    padding-left: 15px;
    padding-right: 15px;
}
